/* Move down content because we have a fixed navbar that is 50px tall */
body {
  margin-top: -40px;
  margin-bottom: -40px;
}

.jumbotron{
    margin-bottom: 15px;
    background-color: darkgrey;
    background-image: url(../images/background.jpg);
    background-position: 0% -20%;
    background-size:auto;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

#Username{
    length:20px;
    font-size:14pt;
}

#Gamecode{
    length:20px;
    font-size:14pt;
}