/* Move down content because we have a fixed navbar that is 50px tall */
body {
  margin-top: -40px;
  margin-bottom: -40px;
}

#Username{
    length:20px;
    font-size:14pt;
}

#Gamecode{
    length:20px;
    font-size:14pt;
}