body {
    background-image: url(../images/bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron {
    background-image: url(../images/jumbo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 1px;
    border: 7px solid black;
    text-align: center;
}

.logo-groß {
    z-index: 3;
    top: 4px;
    left: 20%;
    margin-top: 40px;
}

.logo-groß img {
    max-height: 190px;
    width: auto;
    height: auto;
}

.row-centered {
    vertical-align: middle;
}

.img-responsive {
    margin: 0 auto;
}


/**


@media (min-width:374px) and (max-width: 399px) {
    .jumbotron{height:200%;}
    #schere{height:50%;width:50%;margin-left:-20%;}
    #papier_broke{height:50%;width:50%;margin-left:-20%;padding:50%;}
    #vs{font-size:50%;width:-20%;margin-left:350%;margin-top:-720%;}
    #player1-div{margin-left:-8%;}
    #player2-div{margin-left:-15%; margin-top:14%;}
    #spielauswertung{font-size:200%;margin-top:-70%;}
    #player-outer-div{font-size:10px;}
    #player1id{font-size:60%;}
    #player2id{font-size:60%;}
    #nochmal{margin-top:-200%;}

}


@media (min-width:400px) and (max-width: 599px) {
    #schere{height:10%;width:60%;margin-left:5%;}
    #papier_broke{height:60%;width:%;margin-left:-40%;}
    #vs{font-size:110%;margin-left:-190%;margin-top:-50%;}
    #player2-div{font-size:10px;margin-left:-12%;}
    #spielauswertung{font-size:400%;}
}




@media (min-width:600px) and (max-width: 767px) {
    .jumbotron{height:80%;width:97%;}
    #schere{height:70%;width:70%;margin-left:30%;}
    #papier_broke{height:70%;width:70%;margin-left:-20%;}
    #vs{font-size:70%;margin-left:-120%;margin-top:-50%;}
    #player2-div{margin-left:-16%;}
    #spielauswertung{font-size:400%;}
    
}


@media (min-width: 768px) and (max-width: 991px) {
    #schere{height:60%;width:60%;margin-left:5%;}
    #papier_broke{height:60%;width:60%;margin-left:-40%;}
    #vs{font-size:110%;margin-left:-210%;margin-top:-50%;}
    #player2-div{margin-left:-15%;}
}

@media (min-width: 992px) and (max-width: 1199px) {
      #schere{height:90%;width:90%; 
      
    }
    #papier_broke{height:90%;width:90%;}
}


@media (min-width: 1200px) and (max-width: 1600px) {
      .player-outer-div{font-size:30px;
               
                 
      }
      
}

@media (min-width: 1601px) {
      .player-outer-div{font-size:20px;
            
                 
    }
}


**/

.arrow {
    animation: arrow 2.5s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes arrow {
    0% {
        transform: rotate(0deg)
    }
    60% {
        transform: rotate(359deg)
    }
    100% {
        transform: rotate(359deg)
    }
}

.navbar-brand>img {
    height: 220%;
    width: auto;
    margin: auto;
    margin-top: -12px;
}

.social-network {
    margin-top: 145px;
}

#Logo {
    width: 20px;
    height: 20px;
}

#Username {
    length: 200px;
    font-size: 17pt;
}

#Gamecode {
    length: 20px;
    font-size: 14pt;
}

#player-outer-div {
    height: 300px;
}

#rundeundspielauswertung {
    margin-top: -180px;
}

#wählenundauswertung-div {
    text-align: center;
    margin-top: 50px;
}

.selected {
    border: 5px solid #2ca02c;
}

.mySel {
    font-size: 30px;
}

span {
    vertical-align: middle;
    display: inline-block;
    line-height: 200px;
}


/*button {
    position: relative;
    right:-47%;
    height:50px;
    width:100px;
}*/
