body{
    background-image: url(../images/bg2.png);
    background-size:contain:
}

.jumbotron {
    background-image: url(../images/jumbo.jpg);
    <!-- background-color: rgba(0,0,0,.1); -->
    background-size:cover;
    color: black;
    min-height:82%;
    padding-bottom:7%;

}

.navbar-brand>img {
    height: 210%;
    width: auto;
    margin: auto;
    margin-top: -12px;
}

#Logo {
    width: 20px;
    height: 20px;
}

#Username {
    length: 200px;
    font-size: 17pt;
}

#Gamecode {
    length: 20px;
    font-size: 14pt;
}


#player-outer-div {
    height: 300px;
    width: 100%;
    //overflow:hidden;
}

#player1-div {
    font-size: 50px;
    position: relative;
    left: 2%;
    width: 200px;
}

#player2-div {
    font-size: 50px;
    position: relative;
    right: -85%;
    top: -24%;
    width: 200px;
}

#auswahl-div {
    display: table;
    align-content: center;
    text-align: center;
    margin: auto;
    vertical-align: middle;
}

#auswertung-div {
    text-align: center;
    margin-top: -150px;
}

.auswahl {
    font-size: 40px;
    float: left;
    margin: 25px;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: thin;
}


span {
    vertical-align: middle;
    display: inline-block;
    line-height: 200px;
}

/*button {
    position: relative;
    right:-47%;
    height:50px;
    width:100px;
}*/

